<odoo>
    <data>
        <menuitem id="main_odoo_informacion" name="Menú Nivel 0. Información" sequence="9"/>
        <menuitem id="menu_informacion" name="Menú Nivel 1. Información" parent="main_odoo_informacion" action="informacion_list_action" sequence="10"/>
        <menuitem id="menu_suceso" name="Menú Nivel 2. Suceso" parent="main_odoo_informacion" action="suceso_list_action" sequence="11"/>
    </data>
</odoo>